<h3>Selected Article </h3>
<p>Title : <%= @article.title %></p>
<p>Description : <%= @article.description %></p>

<%= link_to "Back" , articles_path %>
<%= link_to "Edit" , edit_article_path(@article) %>
