@import "bootstrap-sprockets";
@import "bootstrap";

.article-title{font-size: 25px;font-weight: 500;}
.article-actions{border-top: 1px solid #ccc;padding-top: 10px;margin-top: 10px; }
.article-body{padding-top: 10px;margin-top: 10px; }
